
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About US</h5>
        <p>Kantipur City College</p>
        <p>Putalisadak, Kathmandu</p>
        <p>Pranay Raj Rajopadhyaya (Subedi) || Roje Awale || Uttam Kharel</p>
        <p>+977 01-1234560, +977 9841234567</p> 
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linked In</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container center-align">&copy; 2021 FOODie</div>
  </div>
</footer>
              
</html>